<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-success">
          <h6 class="text-white">Employee List</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of employeeList; track $index) {
                    <tr>
                      <td>{{$index+1}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.emailId}}</td>
                      <td>{{item.contactNo}}</td>
                      <td class="text-center">
                        <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>
                        <button class="btn btn-sm btn-danger ms-2" (click)="onDelete(item.empId)">Delete</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-success">
          @if(employeeForm.controls['empId'].value == 1){
            <h6 class="text-white">New Employee</h6>
          }
          @else {
            <h6 class="text-white">Update Employee</h6>
          }
        </div>
        <div class="card-body">
          <form [formGroup]="employeeForm">
            <div class="row">
              <div class="col-lg-12">
                <label for="">Name</label>
                <input type="text" name="" id="" formControlName="name" class="form-control" />
              </div>
              <div class="col-lg-6">
                <label for="">Email-id</label>
                <input type="email" name="" id="" formControlName="emailId" class="form-control" />
              </div>
              <div class="col-lg-6">
                <label for="">Contact No.</label>
                <input type="text" name="" id="" formControlName="contactNo" class="form-control" />
              </div>
              <div class="col-lg-6">
                <label for="">State</label>
                <input type="text" name="" id="" formControlName="state" class="form-control" />
              </div>
              <div class="col-lg-6">
                <label for="">City</label>
                <input type="text" name="" id="" formControlName="city" class="form-control" />
              </div>
              <div class="col-lg-12">
                <label for="">Address</label>
                <textarea formControlName="address" class="form-control"></textarea>
              </div>
              <div class="col-lg-6">
                <label for="">Pincode</label>
                <input type="text" name="" id="" formControlName="pincode" class="form-control" />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-6 text-center">
                <button class="btn btn-secondary" (click)="reset()">Reset</button>
              </div>
              <div class="col-lg-6 text-center">
                @if (employeeForm.controls['empId'].value == 1) {
                  <button class="btn btn-success" type="button" [disabled]="employeeForm.invalid" (click)="onAdd()">Add Employee</button>
                }
                @else{
                  <button class="btn btn-warning" type="button" [disabled]="employeeForm.invalid" (click)="onUpdate()">Update Employee</button>
                }
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>